// src/styles/colors.scss

// Colores principales
$color-primary: #003366;  // Azul oscuro / Indigo
$color-accent: #1E90FF;   // Azul brillante

// Colores de fondo
$color-background-light: #F5F5F5; // Gris claro
$color-background-dark: #333333;  // Gris oscuro

// Colores secundarios
$color-secondary: #007BFF; // Azul intermedio (para botones, links)

$color-white: #FFFFFF;  // Blanco
$color-dark: #333333; // El color que desees

